/WfrmGenerator/*.aliases
/WfrmGenerator/*.lvlps
/Visualization/VisualizeStatus/*.aliases
/Visualization/VisualizeStatus/*.lvlps
/FunctionGenerator/*.aliases
/FunctionGenerator/*.lvlps
/Sampler/*.aliases
/Sampler/SamplerModule/PublicAPI/Arguments/Requests/*.ctl
/Sync/*.aliases
/Sync/*.lvproj
/Sync/*.lvlps
/Sampler/*.lvlps
/Analysis/*.aliases
/Analysis/*.lvlps
/Sensor/*.aliases
/Sensor/*.lvlps
/Sensor/SensorController/*.aliases
/Sensor/SensorController/*.lvlps
/PluggableModulesTemplate/Source/NIST/NISTPluggableModuleTemplate/*.aliases
/PluggableModulesTemplate/Source/NIST/NISTPluggableModuleTemplate/*.lvlps
/Scope/*.aliases
/Scope/*.lvlps
/MemberClasses/*.aliases
/MemberClasses/*.lvlps
/Digitizer/*.aliases
/Digitizer/*.lvlps
/TestClass/*.aliases
/TestClass/*.lvlps
/FGen/MemberClasses/*.aliases
/FGen/MemberClasses/Matlab/*.asv
/BusClass/*.aliases
/BusClass/*.lvlps

/Analysis/AnalysisPlugins/Matlab/bar.mat
/AcPwr/*.aliases
/AcPwr/*.lvlps
/FGen/*.aliases
/FGen/*.lvlps
/Sync/Doc/Source/images/*.db
/Analysis/AnalysisPlugins/Matlab/Fourier/ArtificialTS.m
/Analysis/AnalysisPlugins/Matlab/Fourier/Fourier.mlx
